[submodule "framework/swiftmailer"]
	path = framework/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "framework/PHT"]
	path = framework/PHTv3
	url = https://github.com/jetwitaussi/PHT.git
[submodule "framework/PHTMailer"]
	path = framework/PHPMailer/PHTMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "framework/html2text"]
	path = framework/html2text
	url = https://github.com/soundasleep/html2text.git
